@layer reset, base, theme;

@import url('./theme.css');

@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        margin: 0;
    }


}

@layer base {
    body {
        --top-bar-height: 3rem;
        --server-bar-width: 5rem;
        --channel-bar-width: 14rem;
        --user-list-width: 14rem;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .main {
        display: flex;
    }

    .black-line {
        position: fixed;
        height: 1px;
        width: 100%;
        top: var(--top-bar-height);
        left: var(--server-bar-width);
        z-index: 100;
        background-color: var(--bg-color-darker);
    }
}

/* SERVER BAR */
@layer components {
    .server-bar {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        min-height: 100vh;
        min-width: var(--server-bar-width);
        background-color: var(--bg-color-darker);
        padding: 1rem;
    }
}

/* SERVER BUTTONS */
@layer components {
    .server-button {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transition: 100ms ease-in-out;
        position: relative;
    }

    .server-button::before {
        content: '';
        width: 0;
        height: 0;
        background-color: white;
        display: block;
        border-radius: 20%;
        position: absolute;
        top: 50%;
        left: -40%;
        transform: translateY(-50%);
        transition: 100ms ease-in-out;

    }

    .server-button:hover {
        border-radius: 35%;
    }

    .server-button:hover::before {
        width: .5rem;
        height: 1.5rem;
        border-radius: 20%
    }

    .img-1 {
        background-image: url('./imgs/servers/hiking-lovers.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img-2 {
        background-image: url('./imgs/servers/gym-rats.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .no-img {
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .no-img:hover {
        background-color: var(--accent-color);
    }

    .new-message::before {
        content: '';
        width: .5rem;
        height: .5rem;
        background-color: white;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -40%;
        transform: translateY(-50%);
        transition: 100ms ease-in-out;
    }

    .new-message:hover::before {
        width: .5rem;
        height: 1.5rem;
        border-radius: 20%;
    }

    .message-count::after {
        content: attr(data-new-messages);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .2rem .4rem;
        border-radius: 9999px;
        bottom: 0;
        right: 0;
        color: var(--danger-foreground-color);
        background-color: var(--danger-color);
        font-size: .7rem;
        font-weight: 600;
        border: 4px solid var(--bg-color-darker);
    }
}

/* Channel bar*/
@layer components {
    .channel-bar {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: var(--channel-bar-width);
        background-color: var(--bg-color-dark);
    }

    .channel-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: var(--top-bar-height);
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 1rem;
        color: var(--foreground-color);
        font-size: 1rem;
        border-bottom: .5px solid var(--bg-color-darker);

        svg {
            width: 1.5rem;
        }
    }

    .channel-name:hover {
        background-color: var(--bg-color-light);
    }
}

/*SERVER CHANNELS*/
@layer components {
    .server-channels {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        padding: .5rem;
        height: 100%;
    }

    .channel-group {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .channel {
        display: flex;
        gap: .4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        color: var(--foreground-color-dark);
        padding: .5rem .6rem;
        border-radius: .3rem;

        svg {
            width: 1rem;
        }
    }

    .channel:hover {
        background-color: var(--bg-color-light);
        color: var(--foreground-color);
    }

    .inactive {
        color: var(--foreground-color-darker);
    }

    .channel-category {
        display: flex;
        align-items: center;
        gap: .4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        color: var(--foreground-color-dark);
        padding: .5rem .6rem;
        border-radius: .3rem;
        text-transform: uppercase;
        font-size: .8rem;
        line-height: 0;
        position: relative;

        svg {
            position: absolute;
            left: -2%;
            width: .8rem;
        }
    }

    .channel-category:hover {
        color: var(--foreground-color);
    }
}

/*CHAT SECTION*/
@layer components {
    .chat-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 100vh;
        background-color: var(--bg-color);
    }
}

/*CHAT TOP BAR*/
@layer components {
    .chat-section-top-bar {
        display: flex;
        padding: .5rem 1rem;
        min-height: var(--top-bar-height);
        justify-content: space-between;
        align-items: center;
        border-bottom: .5px solid var(--bg-color-darker);
    }

    .chat-channel-name {
        display: flex;
        gap: .5rem;
        width: fit-content;
        color: var(--foreground-color);

        svg {
            color: var(--foreground-color-dark);
            width: 1.3rem;
        }
    }

    .chat-toolbar {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .toolbar-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        color: var(--foreground-color-dark);

        svg {
            width: 1.3rem;
        }
    }

    .toolbar-button:hover {
        color: var(--foreground-color);
    }

    .input-search-wrapper {
        --search-icon-width: 1rem;
        --search-icon-margin-end: 4px;
        display: flex;
        align-items: center;
        position: relative;
        color: var(--foreground-color-dark);

        svg {
            width: var(--search-icon-width);
            position: absolute;
            right: 0;
            margin-inline-end: var(--search-icon-margin-end);
        }
    }

    .input-search {
        border: none;
        background-color: var(--bg-color-darker);
        padding: .3rem;
        padding-inline-end: calc(var(--search-icon-width) + var(--search-icon-margin-end) + 3px);
        width: 9rem;
        border-radius: .2rem;
        outline: blue;
        color: inherit;
    }
}

/* USERS SIDEBAR */
@layer components {
    .chat-main {
        display: flex;
        height: 100%;
    }


    .user-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem .5rem;
        min-width: var(--user-list-width);
        background-color: var(--bg-color-dark);
    }

    .user-section {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    .user-section-title {
        text-transform: uppercase;
        color: var(--foreground-color-dark);
        font-size: .7rem;
        font-weight: 700;
    }

    .user {
        display: flex;
        gap: .5rem;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: .3rem .5rem;
        border-radius: 6px;
        font-size: 1rem;
        color: var(--foreground-color);
    }

    .user:hover {
        background-color: var(--bg-color-light);
    }

    .user-online {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 1rem;
            border-radius: 50%;
            aspect-ratio: 1/1;
            bottom: 0;
            right: 0;
            transform: translateX(25%) translateY(25%);
            border: 3px solid var(--bg-color-dark);
        }
    }

    .available::after {
        background-color: var(--success-color);
    }

    .idle::after {
        background-color: var(--warning-color);
    }

    .do-not-disturb::after {
        background-color: var(--danger-color);
    }

    .user-avatar {
        display: block;
        height: 2rem;
        border-radius: 99999px;
    }

    .offline {
        opacity: .5;
    }

    .offline:hover {
        opacity: 1;
    }
}

/*MAIN CHAT*/
@layer components {
    .chat-history {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /*padding: 1rem;*/
    }

    .blank-space {
        flex-grow: 1;
    }

    .message-input-wrapper {
        min-height: 3rem;
        position: relative;
        padding: 1rem;
    }

    .input-text-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-inline-start: .7rem;

        svg {
            width: 1.5rem;
        }
    }

    .message-input {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color-light);
        border-radius: .5rem;
        outline: none;
        border: none;
        padding-block: .9rem;
        padding-inline-start: 3rem;
        padding-inline-end: 9.5rem;
        font-size: 1rem;
        color: var(--foreground-color);
        font-family: inherit;
        field-sizing: content;
        resize: none;
    }

    .input-right-buttons {
        display: flex;
        gap: .8rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-inline-end: 1.8rem;

        svg {
            width: 1.5rem;
        }
    }
}

/*CHAT HISTORY COMPONENTS*/
@layer components {

    .messages {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .message-group {
        display: flex;
        flex-direction: column;
    }

    .first-message {
        padding-inline-start: 1rem;
        padding-block: .5rem;
        display: grid;
        grid-template-columns: 3rem 1fr;
        gap: 1rem;
    }

    .first-message-contents {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .first-message-header {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
    }

    .first-message-title {
        font-size: 1rem;
        color: var(--foreground-color-light);
    }

    .first-message-date {
        font-size: .8rem;
        color: var(--foreground-color-dark);
    }

    .first-message-paragraph {
        font-size: 1rem;
        color: var(--foreground-color);
    }

    .message-avatar {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    .single-message {
        display: grid;
        grid-template-columns: 4rem 1fr;
        gap: 1rem;
        padding-block: .5rem;
        align-items: center;
    }

    .single-message-time {
        display: block;
        opacity: 0;
        line-height: 0;
        color: var(--foreground-color-dark);
        font-size: .8rem;
        text-align: center;
    }

    .single-message-contents {
        color: var(--foreground-color);
    }

    .message-hover:hover {
        background-color: var(--chat-hover-bg-color);
    }
}
